* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  background-color: green;
}

h1 {
  margin: 2rem;
  text-align: center;
  font-size: 8rem;
  color: white;
}
nav {
  margin: 0;
  padding: 0;
  background-color: teal;
  height: 70px;
  display: flex;
  justify-content: center;
}
a {
  display: inline-block;
  color: rgb(21, 21, 128);
  background-color: transparent;
  padding: 25px;
  font-size: 2rem;
}
a:hover {
  background-color: green;
}
body {
  background-color: rgb(255, 255, 255);
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
}
.aside-a {
  background-color: teal;
  width: 300px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-b {
  background-color: teal;
  width: 300px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 4rem;
  color: blue;
}
.om {
  margin: auto;
  text-align: center;
  color: blue;
  font-size: 20px;
  width: 700px;
}
.omoss {
  margin: auto;
  text-align: center;
  padding: 100px;
}
h3 {
  color: white;
}
p {
  color: blue;
  font-family: Georgia;
}
.Lorens {
  font-size: 20px;
  color: blue;
  margin: auto;
  text-align: center;
  width: 700px;
}
.artikel1 {
  margin: 30px;
}
.articlebutton {
  display: inline;
}
