* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  background-color: rgb(28, 105, 28);
}

h1 {
  margin: 2rem;
  text-align: center;
  font-size: 8rem;
  color: white;
}
nav {
  margin: 0;
  padding: 0;
  background-color: teal;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
a {
  display: inline-block;
  color: rgb(21, 21, 128);
  background-color: transparent;
  padding: 25px;
  font-size: 2rem;
}
a:hover {
  background-color: green;
}
body {
  background-color: rgb(19, 19, 140);
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.aside-a {
  background-color: teal;
  width: 200px;
  height: 1000px;
}
h2 {
  font-size: 4rem;
  color: #ffffff;
}
.om {
  margin: auto;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  width: 700px;
}
.omoss {
  margin: auto;
  text-align: center;
  padding: 100px;
}
h3 {
  color: white;
}
p {
  color: #ffffff;
}
.Lorens {
  font-size: 20px;
  color: white;
  margin: auto;
  text-align: center;
  width: 700px;
}
