* {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  margin: 0;
  background-color: rgb(28, 105, 28);
}

h1 {
  margin: 2rem;
  text-align: center;
  font-size: 7rem;
  color: white;
}
nav {
  margin: 0;
  padding: 0;
  background-color: teal;
  height: 50px;
}
